<section class='navigation'>
  <div class='in_program'>
    <%= link_to 'Foods', user_foods_path(user), class: 'nav_action action_1'%>
    <%= link_to 'Public Recipes', user_public_recipes_path(user), class: 'nav_action action_1'%>
    <%= link_to 'Recipes', user_recipes_path(user), class: 'nav_action action_1'%>
    <%= link_to 'Shopping List', user_shopping_list_index_path(user), class: 'nav_action action_1'%>
  </div>
  <%= link_to 'Sign Out', destroy_user_session_path,method: :delete, class: 'nav_action action_1 log_out'%>
</section>